@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&family=Syne+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
}

.btnSearch {
    border-radius: 14px;
}

.btnSearch {
    border-radius: 60px;
    outline: none;
    padding: 3px, 0px, 3px, 0px;
    width: 8rem;
}

.inputSearch {
    border-radius: 60px;
    border: 3px solid black;
}

.listrepo {
    cursor: pointer;
}

input[type=text]:hover,
input[type=text]:focus {
    border: 3px solid black;
}

.shadowCss {
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}


/* box-shadow: 0 4px 25px rgba(14, 36, 49, .15); */