@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/* #f3f4f5 */

:root {
    --darkBlue: #0556f3;
    --blue: #1A2C79;
    --pink: #ED639E;
    --white: #D6D1F5;
    --purple: #B05CBA;
    --redli: #F95335;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

i {
    color: var(--redli);
}

.icon {
    color: var(--redli);
}

.site_header {
    width: 100%;
    height: 50vh;
    background-color: var(--darkBlue);
    border-radius: 0px 0px 150px 150px;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: white;
}

.profilebut {
    color: #FFF;
    background-color: var(--darkBlue);
}

.profilebut:hover {
    background-color: var(--blue);
}

.btnSearch {
    border-radius: 60px;
    border-top: 2px var(--blue) solid;
    outline: none;
    text-align: center;
    padding: 5px, 0px, 5px, 0px;
    width: 8rem;
    height: 2.5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    background-color: var(--purple);
}

.modalButton {
    border-radius: 60px;
    border-top: 2px var(--blue) solid;
    outline: none;
    text-align: center;
    padding: 5px, 0px, 5px, 0px;
    width: 8rem;
    height: 2.5rem;
    color: white;
    box-shadow: 0 4px 50px rgba(14, 36, 49, .15);
    background-color: #ff0d00;
}

.modalButton:hover {
    border: none;
    outline: none;
    background-color: #9e0303;
}

.btnSearch:hover {
    outline: none;
    background-color: #342c55;
}

.inputSearch {
    border-radius: 60px;
    border: 3px solid black !important;
}

.listrepo {
    cursor: pointer;
}

input[type=text]:hover,
input[type=text]:focus {
    border: 3px solid black;
}

#name {
    font-family: 'Roboto', sans-serif;
}

.alink {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.modal_header {
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    font-weight: 1000;
    border-bottom: 0 none;
}

.modal-content {
    border-radius: 20px;
    border-top: 4px solid var(--blue);
}

.modal-body {
    border-top: 0;
}

.fa-envelope,
.fa-map-marker-alt,
.fa-address-card,
.fa-link {
    color: rgb(67, 67, 70);
    font-size: large;
}

.btn-outline-primary {
    border-radius: 20px;
    height: 35px;
}

.shadowCss {
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}

.card-list {
    border-top: 4px solid var(--blue);
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hvr-float {
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    transform: translateY(-8px);
}